.sideNavigationContainer {
    background-color: #333;
    width: 500px;
    height: 98vh;
    color: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

h3 {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

span {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
