website/.docusaurus/**/*
**/dist/**/*
**/node_modules/**/*
**/build/**/*
**/.git/**/*
**/coverage/**/*
**/*.md
package-lock.json
yarn.lock
pnpm-lock.yaml
*.tsbuildinfo
**/cucumber-report.html
**/test-results.xml
