@tailwind base;
@tailwind components;
@tailwind utilities;

.window-draggable {
  height: 60px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-app-region: drag;
}

.verticalLineGrey {
  border-left: 1px solid #5D5D5D;
  height: 70%;
  margin-right: 10px;
}

.tabContainer {
  height: 100%;
}

.tabStyle {
  padding-top: 0px;
  -webkit-app-region: no-drag;
}