@tailwind base;
@tailwind components;
@tailwind utilities;

.window-draggable {
  -webkit-app-region: drag;
}

.toolbar-button {
  -webkit-app-region: no-drag;
}

.verticalLineGrey {
  border-left: 1px solid #5D5D5D;
  height: 70%;
  margin-right: 10px;
}

.tabContainer {
  height: 100%;
}

.tabStyle {
  padding-top: 0px;
  -webkit-app-region: no-drag;
}