.channel {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;
    flex-basis: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
}

.active {
    border: 1px solid #777777;
    border-radius: 5px;
    opacity: 1;
}

.inactive {
    opacity: .6;
}

.channelBox {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #777777;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px;
}


.iconImage {
    max-width: 50px;
    max-height: 50px;
}