.tabs {
    display: flex;
    flex-direction: column;
}

.tab {
    flex-grow: 0;
    flex-shrink: 0;
    gap: .5rem;
    border-radius: 0;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    margin-left: 1rem;
    margin-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: -4px 4px 3px #00000030;
}

.inactiveTab {
    opacity: .4;
}

.activeTab {
    opacity: 1;
}

.inactiveTab:hover {
    opacity: .7;
}